<config initial_columns="120" initial_rows="36">
	<!-- srcery color scheme -->
	<color index="0x0" bg="#1C1B19"/>
	<color index="0x1" bg="#EF2F27"/>
	<color index="0x2" bg="#519F50"/>
	<color index="0x3" bg="#FBB829"/>
	<color index="0x4" bg="#2C78BF"/>
	<color index="0x5" bg="#E02C6D"/>
	<color index="0x6" bg="#0AAEB3"/>
	<color index="0x7" bg="#918175"/>
	<color index="0x8" bg="#2D2C29"/>
	<color index="0x9" bg="#F75341"/>
	<color index="0xa" bg="#98BC37"/>
	<color index="0xb" bg="#FED06E"/>
	<color index="0xc" bg="#68A8E4"/>
	<color index="0xd" bg="#FF5C8F"/>
	<color index="0xe" bg="#53FDE9"/>
	<color index="0xf" bg="#FCE8C3"/>
	<vfs> <dir name="fonts"> <fs label="fonts"/> </dir> </vfs>
</config>
