[global_config]
  title_transmit_fg_color = "#fce8c3"
  title_transmit_bg_color = "#121110"
  title_inactive_fg_color = "#fce8c3"
  title_inactive_bg_color = "#917e6b"
[profiles]
  [[default]]
    foreground_color = "#fce8c3"
    background_color = "#121110"
    cursor_color = "#fed06e"
    cursor_color_fg = False
    palette = "#121110:#ef2f27:#519f50:#fbb829:#2c78bf:#e02c6d:#0aaeb3:#c5b088:#917e6b:#f75341:#98bc37:#fed06e:#68a8e4:#ff5c8f:#2be4d0:#fce8c3"
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
